body {
    font-family: Nunito;
}

.header {
    background-image: url("https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: bottom;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.23);
}

.header p {
    color: white;
    letter-spacing: 1px;
}

@media (max-width: 680px) {
    .header {
        background-size: auto;
    }
}

.searchplace__div {
    margin-bottom: 0;
}

.searchplace {
    border: 0;
}

.title {
    color: white;
    font-weight: 700;
}

.weather__div {
    background: aliceblue;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 1px 2px rgba(0, 0, 0, 0.23);
}

.card {
    border: 0;
    background: #A36AFE;
    padding: 16px;
    color: white;
    margin-bottom: 8px;
}

.card .filler {
    transition: 0.8s all linear;
    top: 0;
    left: 0;
    opacity: 0;
    background-size: cover;
    position: absolute;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0;
    background-image: url("https://images.pexels.com/photos/1869961/pexels-photo-1869961.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.card:hover .filler {
    opacity: 0.6;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.card h4 {
    z-index: 1;
    font-weight: 700;
    margin-bottom: 0;
}

.card hr {
    z-index: 1;
    background: aliceblue;
}

.card p {
    z-index: 1;
}